.d1 {
    border: 2px solid #00f;
    width: 50px;
    

}

.d2 {
    border: 2px solid #f40f;
    width: 55px;
    
}

.d3 {
    border: 2px solid #f0f;;
    width: 54px;
    
}

.d4 {
    border: 2px solid #0ff;
    width: 45px;
    
}